$color-primary: #58e1c1;
$color-secondary: #777;
$button-color-one: #51ddfc;
$button-color-two: #e4757a;
$button-color-three: #927bc1;
$button-color-four: #63cc82;
$button-color-five: #fd7856;

$font-stack-primary: 'Lato', sans-serif;
$screen-sm: 768px;